Redirect /dev/query-pr-summary.cgi http://orange.kame.net/dev/query-pr-summary.cgi
Redirect /dev/send-pr.html http://orange.kame.net/dev/send-pr.html
Redirect /dev/dosendpr.cgi http://orange.kame.net/dev/dosendpr.cgi
Redirect /dev/query-pr.cgi http://orange.kame.net/dev/query-pr.cgi
